<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>安全工具网站</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>安全工具网站</h1>
        <h5>设计者：nanjing于家赢</h5>
    </header>
    <main>
        <ul>
            <li><a href="/port_scan">端口扫描</a></li>
            <li><a href="/brute_force">密码爆破</a></li>
            <li><a href="/flood_attack">泛洪攻击</a></li>
        </ul>
    </main>
</body>
</html>
